<script>
  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
    document.documentElement.style.colorScheme = "dark";
    const metaTheme=document.querySelector('meta[name="theme-color"]');
    metaTheme.setAttribute('content', '#212121');
  } else {
    document.documentElement.classList.remove("dark");
    document.documentElement.style.colorScheme = "light";
    const metaTheme=document.querySelector('meta[name="theme-color"]');
    metaTheme.setAttribute('content', '#ffffff');
  }
</script>
