{% load static %}

<nav
  class="sticky backdrop-filter backdrop-blur-lg bg-opacity-30 firefox:bg-opacity-90 top-0 left-0 w-full z-20 shadow border-b border-gray-200 dark:border-gray-800 p-4">
  <div class="flex max-w-screen-xl mx-auto items-center justify-between">
    <div>
      {% if request.path == '/' %}
      <a href="{% url 'home' %}" class="flex items-center">
        <img
          src="{% static 'images/logo.svg' %}"
          class="w-10 h-10"
          alt="Logo" />
      </a>

      {% else %}
      <div class="flex gap-x-3 items-center justify-center">
        <a href="{% url 'home' %}" class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-gray-700"
            fill="currentColor"
            viewBox="0 0 448 512">
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
          </svg>
        </a>
        <span>{{page_name}}</span>
      </div>
      {% endif %}
    </div>
    <div>
      {% if user.is_authenticated %}
      <div class="flex items-center justify-center gap-x-6">
        {% if request.user.on_trial %}
        <a href="{% url 'payments' %}" class="text-xs font-medium italic py-1 px-2 bg-primary-600 text-white rounded-full">
        {{request.user.trial_days_remaining}} days left
        </a>
        {% endif %}
        <a href="{% url 'user' %}" class="block">
          <div class="relative">
            <img
              class="w-9 h-9 rounded-full"
              src="{{request.user.image}}"
              alt="User Image" />
            {% if request.user.subscribed %}
            <span
              class="top-0 left-7 absolute w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
            {% else %}
            <span
              class="top-0 left-7 absolute w-3.5 h-3.5 bg-amber-600 border-2 border-white dark:border-gray-900 rounded-full"></span>

            {% endif %}
          </div>
        </a>

        <button
          class="flex items-center"
          type="button"
          data-modal-target="logout-modal"
          data-modal-toggle="logout-modal">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 text-rose-600"
            fill="currentColor"
            viewBox="0 0 512 512">
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
          </svg>
        </button>
      </div>
      {% else %}
      <div class="flex items-center justify-center gap-x-3">
        <a
          href="{% url 'account_login' %}"
          class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
          >Log in</a
        >
        <a
          href="{% url 'account_signup' %}"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
          >Start Free trial</a
        >
      </div>
      {%endif %}
    </div>
  </div>
</nav>
