{% extends "base/base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-semibold text-center mb-6">About {{APP_NAME}}</h1>

    <div class="mb-8">
        <p class="text-lg leading-relaxed mb-4">
            Welcome to {{APP_NAME}}, your premier destination for online learning. Our platform is designed to provide a comprehensive and accessible educational experience for learners of all ages and backgrounds.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            At {{APP_NAME}}, we believe that education is the foundation of personal and professional growth. Our mission is to empower individuals by providing them with the knowledge and skills they need to succeed in today's world.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            Whether you're a student preparing for exams, a professional looking to enhance your skills, or simply someone who loves to learn, {{APP_NAME}} has something for you. From online tests and study materials to interactive courses and expert guidance, we offer a wide range of resources to support your learning journey.
        </p>
        <p class="text-lg leading-relaxed mb-4">
            Our team is dedicated to continuously improving and expanding our platform to meet the evolving needs of our users. We're committed to providing a user-friendly and engaging learning experience that inspires curiosity, fosters creativity, and promotes lifelong learning.
        </p>
    </div>

    <div>
        <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
        <p class="text-lg leading-relaxed mb-4">
            If you have any questions, feedback, or suggestions, please don't hesitate to reach out to us. Our dedicated support team is available to assist you with any inquiries you may have.
        </p>
        <p class="text-lg leading-relaxed">
            Email: support@synapse.com<br>
            Phone: +256779730256
        </p>
    </div>
</div>
{% endblock %}
