{% extends "base/base.html" %}
{% load redotags %}

{%block content %}

<style>
    #id_recipients{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>



<section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <form action="{% url 'email_user' %}" method="post" class="space-y-8">
            {% csrf_token %}
            <div>
                <label for="id_subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                {{form.subject|redo_class:"block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"}}
                
            </div>
            <div class="sm:col-span-2">
                <label for="id_message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                {{form.message|redo_class:"block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"}}
                
            </div>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
            {{form.recipients}}
            </div>

            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
        </form>
    </div>
  </section>



{% endblock %}
