{% extends 'base/base.html' %}
{% load redotags %}
{% load static%}

{% block content %}

<section class="px-4 py-16 bg-gray-100 dark:bg-gray-900 min-h-screen">
    <div class="text-center pb-10">
        <h1 class="text-3xl">Welcome to <span class="flex items-center text-5xl justify-center font-bold"><span class="text-primary-600">Study</span><span><img class="w-10 h-10" src="{% static 'images/logo.svg' %}" alt=""></span><span class="text-amber-600">Guide</span></span></h1>
        <p class="italic dark:text-gray-300 text-sm md:text-base text-gray-600">Empowering your educational journey, one step at a time</p>
    </div>
    <div class="max-w-screen-lg mx-auto py-8">
        
<form method="get" hx-push-url="true" hx-indicator="#loader" action="{% url 'home' %}" hx-get="{% url 'home' %}" hx-target="#results">   
    <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" name="question" id="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required />
        
    </div>
</form>

    </div>
    <div id="results">
        {% include 'base/loader.html' %}
        {% if not request.htmx and request.GET.question %}
        {% include 'partials/results.html' %}
        {% endif %}
    </div>
    <div class="flex items-center mt-10 gap-x-8 md:gap-x-16 gap-y-3 justify-center">
        <a class="text-primary-600 " href="{% url 'subjects' %}">Subjects and Topics</a>
        <a class="text-primary-600 " href="{% url 'online_tests' %}">Online Tests</a>
        <a class="text-primary-600 " href="{% url 'books' %}">Books</a>
    </div>

    <div class=" max-w-screen-lg mx-auto py-20 text-lg">
        <p>Unlock your potential with StudyGuide! Join our vibrant community of learners from across the globe and take your learning journey to the next level.</p>
        <p>Sign up now and gain access to a world of knowledge, interactive courses, and invaluable resources designed to fuel your academic success.</p>
    </div>

    <div class="max-w-screen-lg grid grid-cols-1 gap-10 mx-auto">
        <div class="flex flex-col-reverse md:flex-row items-center gap-4">
            <div class="w-full">
            <div class="w-72 h-72 mx-auto flex items-center justify-center overflow-hidden">
                <img src="{% static 'images/questions.webp' %}" class="w-full h-full" alt="Questions">
            </div>
            </div>
            <div>
                <h2 class="text-3xl font-semibold text-amber-700 dark:text-amber-600">Master Your Studies</h2>
                <p class="text-gray-600 mt-2 dark:text-gray-300">Ace your exams by practicing with a diverse range of questions sourced from reputable examination bodies, along with detailed answers to guide your learning.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center gap-4">
            <div>
                <h2 class="text-3xl font-semibold text-amber-700 dark:text-amber-600">Prepare with Confidence</h2>
                <p class="text-gray-600 mt-2 dark:text-gray-300">Boost your exam readiness with our comprehensive online tests. Access a wide range of practice exams meticulously designed to simulate real exam conditions, helping you build confidence and excel in your assessments.</p>
            </div>
            <div class="w-full">
                <div class="w-72 h-72 mx-auto flex items-center justify-center overflow-hidden">
                    <img src="{% static 'images/online_tests.webp' %}" class="w-full h-full" alt="Online Tests">
                </div>
            </div>
        </div>
        <div class="flex flex-col-reverse md:flex-row items-center gap-4">
            <div class="w-full">
                <div class="w-72 h-72 mx-auto flex items-center justify-center overflow-hidden">
                    <img src="{% static 'images/resources.webp' %}" class="w-full h-full" alt="Resources">
                </div>
            </div>
            <div>
                <h2 class="text-3xl font-semibold text-amber-700 dark:text-amber-600">Unlock Limitless Learning</h2>
                <p class="text-gray-600 mt-2 dark:text-gray-300">Expand your knowledge horizons with our vast array of educational resources. From textbooks to interactive learning materials, explore a treasure trove of resources tailored to enrich your learning journey and fuel your academic success.</p>
            </div>
        </div>
        
    </div>
    
</section>







{% endblock %}