{% extends "base/base.html" %}


{% block content %}
<style>
  h2{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  ol,ul{
    margin-left: 2rem;
  }
</style>

<section class="max-w-screen-xl mx-auto px-4 py-10">
    
    <div class="grid grid-cols-1 gap-10">

        <div>

    <div>
            <div>{{question.question_text|safe}}</div>


    </div>
    <div class="py-4">
        <p class="text-lg underline">Solution</p>
        <div class="overflow-x-auto">{{question.answer_text|safe}}</div>
    </div>
    <div class="relative">
      <div id="loader" class="items-center absolute inset-0 request_loader justify-center"><svg width="24" height="24" class="text-primary-500" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_ajPY{transform-origin:center;animation:spinner_AtaB .75s infinite linear}@keyframes spinner_AtaB{100%{transform:rotate(360deg)}}</style><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_ajPY"/></svg></div>    
    <div id="status">
    {% if request.user in question.likes.all %}
    {% include 'partials/status/like-nodislike.html' %}
    {% elif request.user in question.dislikes.all %}
    {% include 'partials/status/nolike-dislike.html' %}
    {% else %}
    {% include 'partials/status/nolike-nodislike.html' %}
    {% endif %}
    </div>
    </div>
    </div>
    <div class="">
      <div class="border border-gray-300 dark:border-gray-900 grid grid-cols-1 gap-3 rounded-xl shadow dark:bg-gray-800/30 bg-white p-4">
        <h2 class="text-2xl">About the Question</h2>
        <p class="text-lg">Subject: <span>{{question.topic.subject.name}}</span></p>
        <p>Topic: <a class="text-primary-600 " href="{% url 'questions_list' question.topic.slug %}">{{question.topic.title}}</a></p>
        <p class="italic">{{question.topic.description}}</p>
        </div>
    </div>


    {% include 'partials/add_ons.html' %}


    </div>






</section>

{% endblock %}